.calendarioContainer {
  position: relative;
  z-index: 1;
}
.tituloCalendario {
  margin-top: 50px;
}
.calendario {
  z-index: 1;
  position: relative;
  overflow-y: visible;
}

.formCalendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.evento {
  top: 20%;
  left: 50%;
  background-color: white;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  display: none;
}

button span:after {
  content: none;
}

.fc-view-harness {
  display: flex;
  margin: auto;
  height: 550px;
  width: 50%;
}

.diasSemanales {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.inputcalendar{
  margin-bottom: 10px; 
  width: 12rem;
font-weight: 700;
text-align: center;
padding: 10px 20px;
}
.errorcalendar {
  text-decoration: red;
  color: red;
}
/* -------------------------LOADER------------------------- */

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 22%;
}
