.new{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.loginTitle2{
    position: absolute;
    top: 120px;
    color: gray;
  }

  .wrapper {
    width: 50%;
    height: 75%;
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    border-radius: 20px;
  }  

  .Form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input{
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  .submit{
    width: 200px;
    background-color: rgba(8, 13, 88, 0.671);
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
  }