

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    flex-direction:row;
    flex-wrap: nowrap;
   
}
.columa{
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33%;
    border: 2px solid rgb(33, 21, 21);
    margin: 0 2rem;
    flex-shrink: 1;
    flex-basis: auto;
    flex-grow: 0;

}
.p1{
    font-size: 40px;
    margin-top: 1rem;
}
.p2{
    font-size: 20px;
    text-align: center;
}