.inputS {
  margin: 15px;
  height: 1.5vh;
  width: 3vw;
  border-radius: 5px;
  border-color: #ffffff;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  transition: all 0.3s ease;
}
.inputS:focus {
  width: 13vw;
  transition: all 0.3s ease;
}
.inputS:hover {
  border-radius: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;

  cursor: pointer;
  border: solid 2px red;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-image: linear-gradient(#434c9a, #9c824a);
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  cursor: pointer;
}
button:hover span {
  padding-right: 15px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
