.contenedor {
  text-align: center;
  padding: 10px;
  background: #e0dddd;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: -10vh;
  left: 0%;
  width: 500px;
}
.menu ul {
  display: flex;
}
.menu li {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.menu li:hover {
  color: #e78345;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.menu li:focus {
  color: #e78345;
}
.menu a {
  color: black;
}
.menu a:hover {
  color: #e78345;
  transform: scale(1.2);
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

#gallery img {
  width: 25%;
  height: 150px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
}
