.contenedorGeneral .tituloGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: auto;
  background-color: black;
  color: white;
  text-shadow: 5px 5px 5px grey;
  letter-spacing: 2px;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;

  /* background: #e0dddd; */
  width: 100%;
  height: 100%;
}
.galeryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

}

.galeryContainer img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .galeryContainer img {
    width: 50%;
  }
}

.nombreFoto{
  position: absolute;
  margin-top: -15px;
}


.mensaje{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 40px;
}

/* -------------------------LOADER------------------------- */

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 22%;
}
