.newsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    font-family: monospace;
}

.imgNews{
    height: 200px;
    width: auto;
    border-radius: 5px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 5px 9px #9A8246;
    border-radius: 5%;
    padding: 10px;
}

.titleNews {
    /* font-style: italic;
    background-color: #9A8246;
    height: 50px;
    
   
   
    color: #050744; */
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    justify-content: center;
    height: 5vh;
    width: 60vw;
    color: #28139e;
    padding: 1px;
    font-weight: 100;
    position: relative;
    background: linear-gradient(to right, #222861, rgb(255, 255, 255), #222861);
    }


.textDescription{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}