.detalleNoticia {
  margin-bottom: -18%;
}

.news {
  /* display: flex;

  width: 100%;
  align-items: center;
  margin: auto;
  box-shadow: 3px 5px 9px #9a8246;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 40%;
  height: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.news:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.news .titleNewss {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  justify-content: center;
  height: 5vh;
  width: 100%;
  color: #000000;
  padding: 1px;
  font-weight: 100;
  position: relative;
}
.news .subtitleNews {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 18px;
  justify-content: center;
  height: 20%;
  width: 100%;
  color: #000000;
  padding: 1px;
  font-weight: 100;
  position: relative;
}

.textDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

hr {
  margin-top: 30px;
  margin-bottom: -20px;
  padding-top: 0px;
  width: 100%;
}
.sectionEscribirComentario {
  margin-top: 50px;
  /* border-top: double 5px black; */
  padding-top: 20px;
  width: 100%;
}

.seccionComentarios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  width: 50%;
}
.seccionComentarios h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px gray;
}
.seccionComentarios input {
  width: 150px;
  height: 10px;
  border-radius: 5px;
}
.seccionComentarios input:hover {
  width: 150px;
  height: 10px;
  border-radius: 5px;
  outline: #28139e;
}
.seccionComentarios textarea {
  resize: none;
}
.seccionComentariosHechos h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px gray;
}
.seccionComentariosHechos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  border: #000000e3 solid 1px;
  border-radius: 5px;
  padding: 20px;
  background-color: #9a875752;
  backdrop-filter: blur(9px);
  /* margin-left: -20px; */
}
/* .comentariosHechos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  border: solid 2px red;
  width: 80%;
} */
.seccionComentariosHechos .nombreComentario {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  border-top: solid 2px #28139e;
}
.seccionComentariosHechos .comentarioEscrito {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
  font-size: 15px;
  margin-bottom: 25px;
  text-align: end;
}
